.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;

}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    padding: 20px;
    text-align: center;
}
@font-face {
    font-family: "text-font";
    src: url("../font/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.footerBottom p{
    color: black;
    font-family: "text-font", sans-serif;
}
.designer{
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 5px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}